# STLink v2
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", GROUP="plugdev", TAG+="uaccess"

# Keithley Model 2110
SUBSYSTEM=="usb", ATTRS{idVendor}=="05e6", ATTRS{idProduct}=="2110", ACTION=="add", GROUP="plugdev", TAG+="uaccess", SYMLINK+="keithley-2110"

# TTI EL302P-USB
SUBSYSTEM=="usb", ATTRS{idVendor}=="103e", ATTRS{idProduct}=="049c", ACTION=="add", GROUP="plugdev", TAG+="uaccess", SYMLINK+="tti-el302p"

